# Assignments 資料夾中的檔案
Assignments/best_result.png
Assignments/NLP_HW1_NSYSU_B104020041.docx
Assignments/NLP_HW1_NSYSU_B104020041.py
Assignments/output.png
Assignments/Word Relationships from Google Analogy Task (FastText d=300 preprocessing tokenizer).png

# Assignment1 資料夾中的檔案
Assignments/Assignment1/NLP_HW1_NSYSU_B104020041.docx
Assignments/Assignment1/NLP_HW1_NSYSU_B104020041.py
Assignments/Assignment1/questions-words.csv
Assignments/Assignment1/questions-words.txt
Assignments/Assignment1/wiki_texts_combined_sampled.txt
Assignments/Assignment1/wiki_texts_combined.txt
Assignments/Assignment1/word_relationships.png

# Assignment2 資料夾中的檔案
Assignments/Assignment2/arithmetic_eval.csv
Assignments/Assignment2/arithmetic_train.csv
Assignments/Assignment2/NLP_HW2_NSYSU_B104020041.docx
Assignments/Assignment2/NLP_HW2_NSYSU_B104020041.py
Assignments/Assignment2/NLP_HW2_NSYSU_B104020041.zip

# Assignment3 資料夾中的檔案
Assignments/Assignment3/saved_models/
Assignments/Assignment3/cache/